<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../assets/favicon/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>Zodiac</title>
</head>

<body class="colored-background">
  <div class="header theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../../index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main">
    <div class="book-detail-page-wrapper">
      <section class="book-detail-content">
        <div class="navigation">
          <a href="../../index.html">Home</a><i class="fas fa-chevron-right"></i>
          <a href="../category/thriller.html">Mystery, Thriller & Horror</a> <i class="fas fa-chevron-right"></i>
          <a href="#">Zodiac</a>
        </div>
        <div class="book-detail">
          <div class="top">
            <div class="img-gallery">
              <div class="left">
                <img id="cover" alt="book image" src="https://m.media-amazon.com/images/I/81xni8WlLhL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="right">
                <img id="photo1" alt="book image" src="https://i.etsystatic.com/15881251/r/il/dbc313/3015465046/il_fullxfull.3015465046_kjtz.jpg">
                <img id="photo2" alt="book image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGKb4VpxsLakIenAfku6gByOxapr_h24EfPnMU4eflin_hA5dSVenbN0vii_59CP82k0U&usqp=CAU">
              </div>
            </div>
            <div class="price-cart">
              <h3 id="price" class="price mid-font">Price: $13.32</h3>
              <button class="cart-btn cart-btn">
                <div class="btn-content">
                  <i class="fas fa-shopping-cart"></i>
                  Add to cart
                </div>
                
              </button>
            </div>
          </div>
          <div class="bottom">
            <h2 id="title" class="big-font book-title">Zodiac</h2>
            <p id="author">Author: Robert Graysmith</p>
            <p id="year">Published year: 1986</p>
            <br>
            <p id="description">
              Zodiac is a non-fiction book written by Robert Graysmith about the unsolved serial murders committed by the 'Zodiac Killer' in San Francisco in the late 1960s and early '70s.\nA sexual sadist, the Zodiac killer took pleasure in torture and murder. His first victims were a teenage couple, stalked and shot dead in a lovers’ lane. After another slaying, he sent his first mocking note to authorities, promising he would kill more. The official tally of his victims was six. He claimed thirty-seven dead. The real toll may have reached fifty.
            </p>
          </div>
        </div>

      </section>
      <section class="relevant">
          <h2 class="big-font">Relevant</h2>
          <div class="relevant-content">
            <div class="bookcard" id="5" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://upload.wikimedia.org/wikipedia/en/6/62/Silence3.png">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Silence of the Lambs</div>
                  <div class="author">Thomas Harris, 1988</div>
                </div>
                <div class="right price">$19.98</div>
              </div>
            </div>
            <div class="bookcard" id="4" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img  alt="Book cover" src="https://m.media-amazon.com/images/I/81dkf1dFePL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Red Dragon</div>
                  <div class="author">Thomas Harris, 1981</div>
                </div>
                <div class="right price">$11.23</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
    

  <div class="footer theme2">
    <nav>
      <ul>
        <li><a class="nav-link" href="../info/about.html">About Us</a></li>
        <li><a class="nav-link" href="../info/privacy.html">Privacy Policy</a></li>
        <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
        <li><a class="nav-link" href="../info/copyright.html">Copyright</a></li>
        <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Copyright © 2023 KBook Store by Khanh Tran</p>
  </div>
</body>

</html>