<!-- 
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Tran Nguyen Ha Khanh
ID: s3877707
Acknowledgement: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../assets/favicon/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>Frankenstein</title>
</head>

<body class="colored-background">
  <div class="header theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../../index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main">
    <div class="book-detail-page-wrapper">
      <section class="book-detail-content">
        <div class="navigation">
          <a href="../../index.html">Home</a><i class="fas fa-chevron-right"></i>
          <a href="../category/fiction.html">Fiction & Fantasy</a> <i class="fas fa-chevron-right"></i>
          <a href="#">Frankenstein</a>
        </div>
        <div class="book-detail">
          <div class="top">
            <div class="img-gallery">
              <div class="left">
                <img id="cover" alt="book image" src="https://m.media-amazon.com/images/I/81z7E0uWdtL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="right">
                <img id="photo1" alt="book image" src="https://m.media-amazon.com/images/I/71hCBEMpQ0L._AC_UF1000,1000_QL80_.jpg">
                <img id="photo2" alt="book image" src="https://prodimage.images-bn.com/pimages/9781435159624_p0_v1_s1200x630.jpg">
              </div>
            </div>
            <div class="price-cart">
              <h3 id="price" class="price mid-font">Price: $11.89</h3>
              <button class="cart-btn cart-btn">
                <div class="btn-content">
                  <i class="fas fa-shopping-cart"></i>
                  Add to cart
                </div>
                
              </button>
            </div>
          </div>
          <div class="bottom">
            <h2 id="title" class="big-font book-title">Frankenstein</h2>
            <p id="author">Author: Mary Shelley</p>
            <p id="year">Published year: 1818</p>
            <br><br>
            <p id="description">
              On a stormy summer night in 1816, eighteen-year-old Mary Shelley sat down to write a ghost story. What poured from her pen that fateful night would change the world, revolutionizing our understanding of artificial life, bewitching generations of readers, and pioneering science fiction as we now know it.<br><br>
              Frankenstein tells the story of Victor Frankenstein, a young scientist who creates a sapient creature in an unorthodox scientific experiment.<br><br>
              Dr. Victor Frankenstein builds a creature out of scavenged body parts, recoils from his creation, then sees all that he loves destroyed by his spurned progeny. In this landmark novel, Shelley fused a primordial parable with the upheavals and anxieties of the Industrial Revolution, and in doing so, laid the foundation for the themes and constructs of science fiction.<br><br>
              The weighty questions she poses in Frankenstein continue to animate the genre to this very day. Why do we harbor such fear of the other? How responsible are we for our creations, and what does it mean when they develop agency of their own? Where’s the line between what science can do, and what it should do? Frankenstein strikes at the very heart of what it means to be human. It also rewards repeat readings—so much so that, even two centuries later, we’re still peering at it through new lenses, as queer, transhumanist, and feminist readings locate new depths within the familiar text. Plenty of imitators have tried to match the heights of Frankenstein, but none have come close. We owe everything to Shelley’s ur-textual story of modernity, morality, and progress’ great and terrible cost.
            </p>
          </div>
        </div>

      </section>
      <section class="relevant">
          <h2 class="big-font">Relevant</h2>
          <div class="relevant-content">
            <div class="bookcard" id="10" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://upload.wikimedia.org/wikipedia/en/5/57/OctaviaEButler_Kindred.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Kindred</div>
                  <div class="author">Octavia Butler, 1979</div>
                </div>
                <div class="right price">$14.59</div>
              </div>
            </div>
            
            <div class="bookcard" id="11" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://m.media-amazon.com/images/I/911A8d8aCYL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Journey to the Center of the Earth</div>
                  <div class="author">Jules Verne, 1864</div>
                </div>
                <div class="right price">$18.76</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
    

  <div class="footer theme2">
    <nav>
      <ul>
        <li><a class="nav-link" href="../info/about.html">About Us</a></li>
        <li><a class="nav-link" href="../info/privacy.html">Privacy Policy</a></li>
        <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
        <li><a class="nav-link" href="../info/copyright.html">Copyright</a></li>
        <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Copyright © 2023 KBook Store by Khanh Tran</p>
  </div>
</body>

</html>