<div class="footer theme2">
  <nav>
    <ul>
      <li><a class="nav-link" href="../info/about.html">About Us</a></li>
      <li><a class="nav-link" href="../info//privacy.html">Privacy Policy</a></li>
      <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
      <li><a class="nav-link" href="../info//copyright.html">Copyright</a></li>
      <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
    </ul>
  </nav>
  <p class="copyright">Copyright © 2023 KBook Store</p>
</div>