<div class="header">
  <div class="header-bar theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../../index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="thumbnail">
    <div class="background"></div>
    <div class="text">
      <div class="flex-col">
        <div class="bigger-font">Welcome to KBook Strore</div>
        <p>A new adventure every day</p>
      </div>
      <button class="contact-btn" onclick="window.location.href=`../info/contact.html`">Contact Us</button>
    </div>
  </div>
</div>