<div class="header">
  <div class="header-bar theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../main/index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>