<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../assets/favicon/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>Fiction & Fantasy</title>
  <style>

  </style>
</head>

<body class="colored-background">
  <div class="header theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../../index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main">
    <section>

    </section>
    <section class="categories">
      <div class="category-wrapper">
        <div class="category-header">
          <h2 class="big-font">Science Fiction</h2>
        </div>
        <div class="category-content">
          <div class="category-item">
            <div class="bookcard" id="9" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img  alt="Book cover" src="https://m.media-amazon.com/images/I/81z7E0uWdtL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Frankenstein</div>
                  <div class="author">Mary Shelley, 1818</div>
                </div>
                <div class="right price">$11.89</div>
              </div>
            </div>
          </div>
          
          <div class="category-item">
            <div class="bookcard" id="10" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://upload.wikimedia.org/wikipedia/en/5/57/OctaviaEButler_Kindred.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Kindred</div>
                  <div class="author">Octavia Butler, 1979</div>
                </div>
                <div class="right price">$14.59</div>
              </div>
            </div>
          </div>

          <div class="category-item">
            <div class="bookcard" id="11" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://m.media-amazon.com/images/I/911A8d8aCYL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Journey to the Center of the Earth</div>
                  <div class="author">Jules Verne, 1864</div>
                </div>
                <div class="right price">$18.76</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="category-wrapper">
        <div class="category-header">
          <h2 class="big-font">Fantasy</h2>
        </div>
        <div class="category-content">
          <div class="category-item">
            <div class="bookcard" id="12" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img  alt="Book cover" src="https://upload.wikimedia.org/wikipedia/commons/5/52/The_Stand_%281978%29_front_cover%2C_first_edition.png">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Stand</div>
                  <div class="author">Stephen King, 1978</div>
                </div>
                <div class="right price">$15.67</div>
              </div>
            </div>
          </div>
          
          <div class="category-item">
            <div class="bookcard" id="13" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://awoiaf.westeros.org/images/9/93/AGameOfThrones.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">A Game of Thrones</div>
                  <div class="author">George R. R. Martin, 1996</div>
                </div>
                <div class="right price">$18.56/div>
              </div>
            </div>
          </div>

          <div class="category-item">
            <div class="bookcard" id="14" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://upload.wikimedia.org/wikipedia/en/0/01/The_Fifth_Season_%28novel%29.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Fifth Season</div>
                  <div class="author">N. K. Jemisin, 2015</div>
                </div>
                <div class="right price">$14.21</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="footer theme2">
    <nav>
      <ul>
        <li><a class="nav-link" href="../info/about.html">About Us</a></li>
        <li><a class="nav-link" href="../info/privacy.html">Privacy Policy</a></li>
        <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
        <li><a class="nav-link" href="../info/copyright.html">Copyright</a></li>
        <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Copyright © 2023 KBook Store by Khanh Tran</p>
  </div>

  <script  type="text/javascript">
    function book_clicked(id) {
      localStorage.setItem("bookid", id)
      console.log(id)
      window.location.href=`./views/book-detail/book.html`;
    }
  </script>
</body>

</html>