<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../assets/favicon/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>Thriller</title>
  <style>
    .subcategory-list > *{padding-right: 10px;}
    .category-name{padding: 15px 0; text-align: center;}

  </style>
</head>

<body class="colored-background">
  <div class="header theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../../index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main">
    <section>
      <h2 class="big-font">Mystery, Thriller & Horror</h2>
      <div class="subcategory-list">
        <a href="#thriller">Thriller</a>
        <a href="#serial-killers">Serial Killers</a>
        <a href="#horror">Horror</a>
      </div>

    </section>
    <section class="categories">
      <div class="category-wrapper" id="thriller">
        <div class="category-header">
          <h2 class="big-font">Thriller</h2>
        </div>
        <div class="category-content">
          <div class="category-item">
            <div class="bookcard" id="1" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img  alt="Book cover" src="https://cdn-amz.woka.io/images/I/71FZo7-3BnL.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Gone Girl</div>
                  <div class="author">Gillian Flynn, 2012</div>
                </div>
                <div class="right price">$12.90</div>
              </div>
            </div>
          </div>
          
          <div class="category-item">
            <div class="bookcard" id="2" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://upload.wikimedia.org/wikipedia/commons/0/09/The_Shining_%281977%29_front_cover%2C_first_edition.jpg                  ">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Shining</div>
                  <div class="author">Stephen King, 1977</div>
                </div>
                <div class="right price">$14.89</div>
              </div>
            </div>
          </div>

          <div class="category-item">
            <div class="bookcard" id="3" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://www.bookgeeks.in/wp-content/uploads/2017/03/The-Girl-On-The-Train-by-Paula-Hawkins-1200x1859.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Girl on the Train</div>
                  <div class="author">Paula Hawkins, 2015</div>
                </div>
                <div class="right price">$13.21</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="category-wrapper" id="serial-killers">
        <div class="category-header">
          <h2 class="big-font">Serial Killers</h2>
        </div>
        <div class="category-content">
          <div class="category-item">
            <div class="bookcard" id="4" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img  alt="Book cover" src="https://m.media-amazon.com/images/I/81dkf1dFePL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Red Dragon</div>
                  <div class="author">Thomas Harris, 1981</div>
                </div>
                <div class="right price">$11.23</div>
              </div>
            </div>
          </div>
          
          <div class="category-item">
            <div class="bookcard" id="5" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://upload.wikimedia.org/wikipedia/en/6/62/Silence3.png">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Silence of the Lambs</div>
                  <div class="author">Thomas Harris, 1988</div>
                </div>
                <div class="right price">$19.98</div>
              </div>
            </div>
          </div>

          <div class="category-item">
            <div class="bookcard" id="6" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://m.media-amazon.com/images/I/81xni8WlLhL._AC_UF1000,1000_QL80_.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">Zodiac</div>
                  <div class="author">Robert Graysmith, 1986</div>
                </div>
                <div class="right price">$13.32</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="category-wrapper" id="horror">
        <div class="category-header">
          <h2 class="big-font">Horror</h2>
        </div>
        <div class="category-content">
          <div class="category-item">
            <div class="bookcard" id="7" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://i0.wp.com/bloody-disgusting.com/wp-content/uploads/2017/04/It-Clown.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">It</div>
                  <div class="author">Stephen King, 1986</div>
                </div>
                <div class="right price">$11.32</div>
              </div>
            </div>
          </div>

          <div class="category-item">
            <div class="bookcard" id="8" onclick="window.location.href=`../book-detail/book${this.id}.html`">
              <div class="card-cover">
                <img alt="Book cover" src="https://static.wikia.nocookie.net/stephenking/images/0/01/The_Outsider_cover.jpg">
              </div>
              <div class="card-info">
                <div class="left">
                  <div class="title">The Ousider</div>
                  <div class="author">Stephen King, 2018</div>
                </div>
                <div class="right price">$12.41</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="footer theme2">
    <nav>
      <ul>
        <li><a class="nav-link" href="../info/about.html">About Us</a></li>
        <li><a class="nav-link" href="../info/privacy.html">Privacy Policy</a></li>
        <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
        <li><a class="nav-link" href="../info/copyright.html">Copyright</a></li>
        <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Copyright © 2023 KBook Store by Khanh Tran</p>
  </div>

  <script  type="text/javascript">
    function book_clicked(id) {
      localStorage.setItem("bookid", id)
      console.log(id)
      window.location.href=`./views/book-detail/book.html`;
    }
  </script>
</body>
</html>