<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../assets/favicon/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>About Us</title>
</head>

<body class="colored-background">
  <div class="header theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../../index.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main colored-background">
    <h1 class="bigger-font">About Us</h1>
    <h3 class="mid-font">About KBook Store</h3>
    <div class="flex-col">
      <div>
        <h4 class="small-font">1. Who are we:</h4>
        <p>KBook Store is an ebook site that provide you with various options of precious books of all the time. </p>
      </div>
      <div>
        <h4 class="small-font">2. When did we begin:</h4>
        <p>KBook Store is created and launched in 2023. We are still under endless effort to make improvement and bring the best experience to our users.</p>
      </div>
      <div>
        <h4 class="small-font">3. Acknowledgement:</h4>
        <p>KBook Store acknowledges the huge support from our beloved bosses - Mr. Tom Huynh and Mr. Phuc. </p>
      </div>
    </div>

  </div>

  <div class="footer theme2">
    <nav>
      <ul>
        <li><a class="nav-link" href="../info/about.html">About Us</a></li>
        <li><a class="nav-link" href="../info/privacy.html">Privacy Policy</a></li>
        <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
        <li><a class="nav-link" href="../info/copyright.html">Copyright</a></li>
        <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Copyright © 2023 KBook Store by Khanh Tran</p>

  </div>
</body>

</html>