<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../../assets/favicon/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <title>Privacy Policy</title>
</head>

<body>
  <div class="header theme1">
    <div class="left flex-row">
      <img class="app-logo" src="../../assets/favicon/logo.png" alt="App logo">
      <div class="app-name">KBook Store</div>
    </div>
    <div class="right nav-wrapper">
      <div class="hamburger">☰</div>
      <nav>
        <ul>
          <li><a class="nav-link" href="../main/home.html">Home</a></li>
          <li><a class="nav-link" href="../category/thriller.html">Thriller</a></li>
          <li><a class="nav-link" href="../category/fiction.html">Fiction</a></li>
          <li><a class="nav-link" href="../info/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main">
    Privacy Policy
  </div>

  <div class="footer theme2">
    <nav>
      <ul>
        <li><a class="nav-link" href="../info/about.html">About Us</a></li>
        <li><a class="nav-link" href="../info//privacy.html">Privacy Policy</a></li>
        <li><a class="nav-link" href="../info/terms.html">Terms</a></li>
        <li><a class="nav-link" href="../info//copyright.html">Copyright</a></li>
        <li><a class="nav-link" href="../info/contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <p class="copyright">Copyright © 2023 KBook Store</p>
  </div>
</body>

</html>