html {height: 100%;}
* {box-sizing: border-box; font-size: 16px;}

.header * {
  font-size: 15px;
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body, .header, .main, .footer, .thumbnail {width: 100%;}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 250px;
}
body.colored-background {background-color: #fffaf4;}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}
.footer .copyright {font-size: 12px; color: #6b6a6a;}

.main {padding: 30px 30px 100px 30px;}

p {margin: 10px;}

.flex-row {display: flex; flex-direction: row; align-items: center; gap: 7px;}
.flex-col {display: flex; flex-direction: column; gap: 5px;}

/* font size */
h1.bigger-font {font-size: 27px; margin: 13px 0;}
h2.big-font {font-size: 23px; margin: 10px 0;}
h3.mid-font {font-size: 20px; margin: 7px 0;}
h4.small-font {font-size: 17px; margin: 7px 0;}


/* theme color */
.theme1 {background: #262223; color: #DDC6B6;}
.theme2 {background: #DDC6B6; color: #262223;}

/* header bar */
.header {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  gap: 10px;
  white-space: nowrap;
  padding-left: 10px;
} 
.header > * {height: 100%; padding-top: 0;}
.header .left {
  float: left;
  width: 0px; /* set 0 to allow overlapping from .right */
}
.header .right {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.header .right > * {padding-right: 20px;}
.header nav {padding-top: 19px;}

.app-logo {width: auto; height: 60px;}
.app-name {font-weight: bold; font-family: cursive; font-size: 25px;}

nav ul {list-style: none; margin: 0; padding: 0;}

.header nav ul{
  display: flex;
  gap: 20px;
  width: fit-content;
}

.hamburger {
  font-size: 20px;
  padding-top: 15px;
  display: none;
}

.footer nav li {display: inline-block; padding: 5px 10px;}

a.nav-link {color: inherit; transition-duration: .5s;}
.header a.nav-link {text-decoration: underline;}
.footer a.nav-link {text-decoration: none;}

.header nav ul:hover {color: #ddc6b696;}
.footer nav ul:hover {color: #6b6a6a;}

.header a.nav-link:hover {
  color: #DDC6B6;
  box-shadow: 0 2px 0 0 currentcolor;
  text-decoration: none;
}

.footer a.nav-link:hover {
  color: #262223;
  box-shadow: 0 2px 0 0 currentcolor;
  text-decoration: none;
}

section {padding: 30px 0;}

/* thumnail in home page */ 
.thumbnail {
  position: relative;
  height: 350px;
}
.thumbnail > * {height: 100%; width: 100%; }
.thumbnail .background {
  background-image: url("../../assets/picture/header-background.jpg"); /* The image used */
  background-color: #262223; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.thumbnail .text {
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: #DDC6B6;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
}

.welcome-text {font-size: 50px; font-family: 'Garamond';}
.thumbnail .text p {font-size: 20px; font-family: 'Petrona'; font-weight: 500; font-style: italic;}

.thumbnail.thriller-page .background {
  background-image: url("../../assets/picture/thriller-background.avif");
}

.thumbnail.fiction-page .background {
  background-image: url("../../assets/picture/fiction-background.jpg");
}

.subcategory-list a {font-size: 19px; padding: 0px 10px; color: inherit; font-style: normal; text-decoration: none;}
.subcategory-list a:hover {text-decoration:underline;}
.contact-btn {
  border: #DDC6B6 solid 1.5px;
  background-color: transparent;
  color: #DDC6B6;
  padding: 10px 20px;
  text-align: center;
  transition: all .25s;
  font-family: 'Garamond';
  font-size: 19px;
  font-weight: bold;
}
.contact-btn:hover {transform: scale(1.05);}

/* video */
.video {display: flex; gap: 50px; justify-content: space-between;}
.video > * {width: 50%;}
.video p {font-weight: bold; font-family:"Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif ;}
.video p.heading {font-size: 20px; color: brown;}
.video iframe { width:100%; height:300px; border: none;}

/* category */
.categories {display: flex; flex-direction: column; gap: 40px;} /* gap btw categories */
.category-wrapper { 
  display: flex;
  flex-direction: column;
  gap: 10px; /* gap btw cat-header & cat-content */
  align-items: center;
}

.category-header {text-align: center;}
.category-header > * {display: inline-block; padding: 0 10px;}
.category-header i {
  color: rgb(151, 150, 150); 
  font-size: 14px;  
  transition-duration: .25s;
}
.category-header i:hover{
  font-size: 15px;
  text-decoration: underline;
}

.category-content {text-align: center; justify-items: center;}
.category-item {display: inline-block; margin: 20px;}

/* bookcard */

.bookcard {
  background-color: white;
  border: 1px solid rgba(77, 32, 32, 0.356);
  width: 250px;
  height: 340px;
  padding: 8px;
  box-shadow: 0 0 15px rgb(192, 192, 192);
  transition: .25s ease;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.bookcard:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 0 15px #aaa;
}

.card-cover {
  height: 77%;
  overflow: hidden;
}
.card-cover img {width: 100%;}
.card-info {display: flex; justify-content: space-between; padding: 0 5px; align-items:flex-end;}

.card-info .left {text-align: left; display: flex; flex-direction: column; gap: 5px;}
.card-info .title {font-size: 17px;}
.card-info .price {font-size: 19px;}

.card-info .author {font-size: 13px; color: #777777; }

.relevant-content .bookcard {
  width: 220px;
  height: 300px;
}
.relevant-content .card-info .title {font-size: 15px;}
.relevant-content .card-info .price {font-size: 17px;}

/* contact page */
.main.contact-page {
  display: flex;
  justify-content: space-evenly;
}
.form-container {
  display: flex; flex-direction: column; 
  gap: 10px; align-items: center;
  padding: 20px 30px;
  border: #262223 solid;
}
.form-name {font-family:'Poppins'; font-size: 30px; color:#262223; font-weight: bold; padding-bottom: 10px;}

#contact-form {
  display: flex; 
  flex-direction: column; 
  gap: 10px;
  font-family:"Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#contact-img {width: 400px; height: 400px}

form#contact-form * {font-size: 15px;}
.label-input {display: flex; align-items: center;}
.label-input label {width: 150px; font-size: 16px;}
.label-input input, .label-input select, .label-input textarea {
  width: 230px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid gray;
}

.form-btn {width: 100px; height: 40px; border-radius: 5px; outline: none; border: none;}
.btns {display: flex; gap: 10px; justify-content: center;}

#contact-form fieldset, #contact-form input:not(input[type=submit], input[type=reset]), #contact-form textarea, #contact-form select  {
  background: transparent;
}

.form-row.fieldsets {display: flex; gap: 5px;}
.form-btn.theme1:hover {box-shadow: 3px 3px 2px 0 #d3b7a3;}
.form-btn.theme2:hover {box-shadow: 3px 3px 2px 0 currentcolor;}


/* book detail */
.book-detail .price-cart {display: flex; flex-direction: column; gap: 10px;}
.book-detail .price {font-size: 20px; font-weight: bold;}
.book-detail {
  display: flex; 
  flex-direction: column; 
  gap: 50px; 
  padding: 20px;
}
.book-detail p#description {text-align: justify;}

.book-detail .top {display: flex;}

.book-detail .img-gallery {
  display: flex; 
  gap: 10px; 
  height: 300px;
}
.img-gallery .left {width: 60%; height: 100%;}
.img-gallery .right {width: 25%; display: flex; flex-direction: column; gap: 10px; height: 100%;}
.img-gallery img {
  width: 100%;
  height: 100%;
  object-fit:scale-down;
  transition-duration: .5s;
}

.img-gallery img:hover {transform: scale(1.08);}

.book-detail-content .navigation > * {display: inline-block; padding-right: 5px;}
.book-detail-content .navigation a {text-decoration: none; }
.book-detail-content .navigation a:hover {text-decoration: underline;}
.book-detail-content .navigation i {font-size: 10px; }

.cart-btn {
  background: linear-gradient(-10deg, rgba(218,210,205,1) 3%, rgba(187,169,156,1) 27%, rgba(122,100,84,1) 80%);
  border: 0; 
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 15px 0;
  width: 150px;
  text-align: center;
  transition: all .25s;
}

.cart-btn:hover {
  box-shadow: rgba(107, 75, 75, .2) 0 3px 5px, rgba(0, 0, 0, .2) 0 3px 5px, rgba(0, 0, 0, .1) 5px 5px 5px;
  transform: scale(1.05);
}

.cart-btn .btn-content {display: flex; gap: 10px; justify-content: center;}

.book-detail-page-wrapper {display: flex;}
.book-detail-page-wrapper > section {padding: 20px;}
section.book-detail-content {width: 70%;}
.relevant-content {display: flex; flex-direction: column; gap: 30px;}


button {cursor: pointer;}

button:disabled,
input:disabled,
input:disabled + label {
  cursor: not-allowed;
  color: #ccc;
}

.relevant-item {
  display: block;
}


@media (max-width: 992px){
  /* book detail */
  .book-detail-page-wrapper {flex-direction: column;}
  section.book-detail-content {width: unset;}
  .relevant-content {flex-direction: row; gap: 30px;}

  /* contact page */
  #contact-img {width: 300px; height: 300px}

}


@media (max-width: 768px){
  .book-detail .top {flex-direction: column; gap: 25px;}
  .welcome-text {font-size: 40px;}
  .thumbnail .text p, .contact-btn, .subcategory-list a {font-size: 18px;}

  .video {flex-direction: column; gap: 20px;}
  .video > * {width: 100%;}

  .relevant-content .bookcard {
    width: 200px;
    height: 270px;
  }
  .relevant-content .card-info .title {font-size: 14px;}
  .relevant-content .card-info .author {font-size: 12px;}
  .relevant-content .card-info .price {font-size: 16px;}


  /* contact page */
  .form-container {width: 70%;}
  .form-container {padding: 20px 40px;}
  #contact-form {width: 100%;}
  .main.contact-page {
    flex-direction: column;
    align-items: center;
  }
  .form-row.fieldsets {flex-direction: column; gap: 10px;}
  .label-input {
    flex-direction: column; 
    gap: 5px;
    align-items: flex-start;
  }
  .label-input label {width: 100%;}
  .label-input input, .label-input select, .label-input textarea {width: 100%;}

  /* .header nav menu responsive: horizontal -> vertical menu */
  .hamburger {display: block;} /* show hamburger */
  .header nav {
    background: #DDC6B6;
    color: #262223;
    padding: 0;
    display: none;
  }
  .header nav * {font-size: 14px;}
  .header nav ul:hover {color: #6b6a6a;}
  .header a.nav-link:hover {color: #262223;}
  
  /* convert nav menu from row to column display */
  .header nav ul {
    flex-direction: column; 
    justify-content: flex-end; 
    gap: 20px;
    padding: 30px 10px 30px 50px;
  }

  /* show nav menu when hover hamburger */
  .hamburger:hover+nav {
    display: block;
    animation: fade-in .5s;
  } 

  /* show menu while hovering */
  .header nav:hover {display: block;} 
  .category-header > * {display: block;}
  .category-header {display: flex; flex-direction: column;}

}

@media (max-width: 600px){
  * {font-size: 13px;}
  h2.big-font {font-size: 20px;}
  h3.mid-font {font-size: 18px;}
  .app-name {font-size: 22px;}
  .welcome-text {font-size: 36px;}
  .thumbnail .text p, .contact-btn, .subcategory-list a {font-size: 16px;}
  .video p.heading {font-size: 17px;}

  .bookcard {width: 220px;height: 300px;}
  .card-info .title {font-size: 15px;}
  .card-info .author {font-size: 12px;}
  .card-info .price {font-size: 15px;}

  .relevant-content .bookcard {
    width: 190px;
    height: 250px;
  }
  .relevant-content .card-info .title {font-size: 14px;}
  .relevant-content .card-info .author {font-size: 11px;}
  .relevant-content .card-info .price {font-size: 15px;}

  /* contact page */
  form#contact-form * {font-size: 14px;}
  .form-container {width: 80%;}
  .form-container {padding: 20px 30px;}
}

@media (max-width: 500px){
  .relevant-content {flex-direction: column}
  .img-gallery .right {width: 30%;}
}

@media (max-width: 400px){
  .main {padding: 30px 20px 100px 20px;}
  .book-detail-page-wrapper > section {padding: 20px 10px;}
  .book-detail{gap: 30px; padding: 10px;}
  .book-detail .img-gallery {height: 220px;}
  .img-gallery .right {width: 65%;}
  .img-gallery .right {width: 35%;}

  .left.flex-row{gap: 3px;}
  .welcome-text {font-size: 30px;}
  .thumbnail {height: 300px;}
  .thumbnail .text p, .contact-btn, .subcategory-list a {font-size: 15px;}
  .contact-btn {padding: 7px 14px;}
  .app-name{font-size: 20px;}
  .header {padding-left: 2px;}
  .header nav * {font-size: 13px;}

  /* contact page */
  .form-name {font-size: 25px;}
  #contact-img {width: 200px; height: 200px}
  .form-container {width: 90%;}
  .form-container {padding: 20px;}
}

@media (max-width: 300px){
  .book-detail .img-gallery {height: 200px;}
  h2.big-font {font-size: 19px;}
  h3.mid-font {font-size: 17px;}
  .app-name{font-size: 18px;}
  .welcome-text {font-size: 20px;}
  .thumbnail .text p, .contact-btn, .subcategory-list a {font-size: 14px;}
  .category-item {margin: 16px 10px;}
  .bookcard {width: 210px;height: 280px;}
}


@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}





